{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}
<main id="content">
<div class="row">
<div class="twelve columns">
<article id="{{ .Slug }}" class="{{ .Type }}">
    <div class="post-stamp">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "2 Jan 2006" }}
        </time>
        <span class="taglist">
        {{if .Params.tags }}
        &middot;
        {{ range $index, $tag := .Params.tags }}
            <a href="{{ $baseurl }}tags/{{ $tag | urlize }}/">{{ $tag }}</a>
        {{ end }}
        {{ end }}
        </span>
    </div>
    <h1 class="post-title">{{ .Title }}</h1>
    {{ .Content }}
</article>

</div>
</div>
</main>
{{ partial "footer.html" . }}
