      <footer>
        <div class="row">
          <div class="twelve columns">
            <p>
            <b>PGP</b> 91 73 0B 7D B2 EA 84 1C&nbsp;
            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;hq@mtod.org&nbsp;
            <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;<a href="https://twitter.com/hq1aerosol">@hq1aerosol</a>&nbsp;|&nbsp;
            &copy; All content is <a href="http://www.wtfpl.net/">WTFPL</a> unless stated otherwise.</p>
            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
